@font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
         url('Sahel.woff2') format('woff2'),
         url('Sahel.woff') format('woff'),
         url('Sahel.ttf') format('truetype');
    font-weight: normal;
  }
  @font-face {
    font-family: Sahel;
    src: url('Sahel-Bold.eot');
    src: url('Sahel-Bold.eot?#iefix') format('embedded-opentype'),
         url('Sahel-Bold.woff2') format('woff2'),
         url('Sahel-Bold.woff') format('woff'),
         url('Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
  }

body{
    direction: rtl !important;
    font-family: "Sahel" !important;
    text-align: right !important;
}
b.pinky {
    color: #ff578a;
}

.header__content {
    font-family: 'Sahel';
    font-weight: bold;
}

.owl-carousel.owl-loaded {
    display: block;
    direction: initial !important;
}

.icon.ion-ios-more.mamad {
    left: -35px;
    position: relative;
}
.boldnav{
    font-size: large;
    font-weight: bold;
}
span.boldnav {
    font-weight: bold;
    font-size: 16px !important;
}